.quiz-container {
  display: flex;
  flex-flow: row wrap;
}

.quiz-item {
  margin: 0 40px 20px 40px;
  flex: 25%;
}

.star-row {
  padding: 60px 0;
}

@media (max-width: 800px) {
  .quiz-item {
    flex: 50%;
  }
}

.info-text-header {
  border-radius: 25px;
  padding: 0 20px;
  display: flex;
  flex-direction: row;
  align-content: center;
}