.App {
  text-align: center;
  font-family: 'Comic Sans MS', 'Comic Sans', serif;
}

.App-logo {
  height: 40vmin;
}

main {
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: 12px;
  font-family: 'Comic Sans MS', 'Comic Sans', serif;
  background-color: #739ec7;

}

.App-link {
  color: #09d3ac;
}
