.modal-background {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.6);
  z-index: 1;
  padding-top: 100px;
  display: flex;
  flex-direction: column;
}

.modal-content {
  display: flex;
  flex-direction: column;
  background-color: #91D0b6;
  border-radius: 8px;
  box-shadow: -7px 10px 27px 0 rgba(0, 0, 0, 0.1);
  margin: 0 50px;
  height: 80%;
}

.card-selected {
  border-style: solid;
  border-color: black;
  border-width: thick;
  background-color: #d5ede0;
}

.button-dark-green {
  background-color: #91D0b6;
  font-weight: bold;
}