
.parent {
  font-family: 'Comic Sans MS', 'Comic Sans', serif;
  position: relative;
  top: 0;
  left: 0;
  margin-top: 100px;
}

.image {
  position: absolute;
  box-shadow: rgba(255, 255, 0, 0.2);
}

.background-img-icon {
  position: absolute;
  top: 1.5%;
  left: 94%;
}

.background-img {
  max-height: 500px;
  max-width: 700px;
  margin-right: 10px;
  margin-bottom: 0px;
}

.pause-audio{
  align-content: center;
}

.expanded {
  max-height: 950px;
  max-width: 950px;
}

@media (max-width: 800px) {
  .background-img {
    max-width: 300px;
  }
}

.highlighted {
  background-color: #FFFF00;
}

.story-text {
  font-size: 40px;
  font-family: 'Comic Sans MS', 'Comic Sans', serif;
  max-height: 240px;
  margin-left: 32px;
  overflow: auto;
}

.expanded-height {
  max-height: 700px;
}

.story-icon {
  flex-shrink: 0.1;
  align-self: center;
}

.shrink {
  color: #ffbe2f;
}

.expand {
  color: #27ca41;
}