
.parent {
  font-family: 'Comic Sans MS', 'Comic Sans', serif;
  position: relative;
  top: 0;
  left: 0;
}

.image1 {
  position: relative;
  top: 0;
  left: 0;
}

.image2 {
  position: absolute;
  top: 160px;
  left: 200px;
}

.image {
  position: absolute;
}