.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
}

main {
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: 12px;
  background-color: #282c34;
}

.App-link {
  color: #09d3ac;
}
