h1 {
  text-align: center;
  font-family: "Comic Sans MS", cursive, sans-serif;
}

h2 {
  text-align: center;
  height: 300px;
}

body {
  background-color: lightskyblue;

  margin: 0;
  font-family: -apple-system, Comic-Sans, "BlinkMacSystemFont", "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
