h1 {
  text-align: center;
  font-family: "Comic Sans MS", cursive, sans-serif;
}

h2 {
  text-align: center;
  /* height: 300px; */
}
html {
  height: 100%;
}

#root {
  display: flex;
  flex-direction: column;
  height: 100%;
}

button {
  padding: 4px 10px;
  font-size: 18px;
  line-height: 22px;
  background-color: #C1E5D6;
}
body {
  background-color: #91D0b6;
  height: 100%;

  margin: 0;
  font-family: 'Comic-Sans', 'Comic-Sans MS', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
